.app-section {
  padding: 80px 0 64px;
  background: linear-gradient(180deg, #2F50E8 2.07%, #060606 97.51%);

  @media (max-width: $screen-lg) {
    padding: 40px 0 24px;
  };

  .headline-wrap {
    text-align: center;
    margin-bottom: 40px;

    @media (max-width: $screen-lg) {
      margin-bottom: 24px;
    };

    h3 {
      font: 600 40px/1.2 $roboto-font;
      color: $white-color;

      @media (max-width: $screen-lg) {
        font-size: 32px;
      };
    }
  }

  .col-md-4 {
    margin-bottom: 16px;
  }

  .item {
    border-radius: 10px;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    &:hover::after {
      opacity: 1;
    }

    &::after {
      content: '';
      opacity: 0;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border-radius: 10px;
      border: 4px solid $white-color;
      transition: $fast-transition;
    }

    .img-wrap {
      height: 220px;

      @media (max-width: $screen-lg) {
        height: auto;
      };

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .text-wrap {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 36px;
      background-color: $white-color;

      @media (max-width: $screen-lg) {
        padding: 24px;
      };

      h4 {
        font: 600 32px/1 $roboto-font;
        margin-bottom: 24px;
        color: #333333;

        @media (max-width: $screen-lg) {
          font-size: 24px;
          margin-bottom: 16px;
        };
      }

      p {
        font: 400 18px/1.4 $figtree-font;
        color: #333333;
        margin-bottom: 36px;

        @media (max-width: $screen-lg) {
          font-size: 16px;
          margin-bottom: 24px;
        };
      }

      .btn-main {
        position: relative;
        z-index: 2;
        max-width: max-content;
        margin-top: auto;
      }
    }
  }
}
