// Variables
@import "../vars/breakpoints";
@import "../vars/colors";
@import "../vars/transitions";
@import "../vars/typography";
@import "../vars/buttons";

* {
  transition: $fast-transition;
}

body {
  overflow-x: hidden;
}

.container {

  @media (min-width: $screen-xl) {
    padding: 0;
  }

  @media (min-width: $screen-lg) {
    max-width: 1300px;
  }

  @media (max-width: $screen-lg) {
    max-width: 100%;
  }

  @media (max-width: $screen-md) {
    padding: 0 15px;
  }
}

main {
  overflow: hidden;
}

.display-none {
  display: none !important;
}
