.speakers-section {
  padding: 80px 0;
  background-color: #060606;

  @media (max-width: $screen-lg) {
    padding: 40px 0;
  };

  .headline-wrap {
    text-align: center;
    margin-bottom: 40px;

    @media (max-width: $screen-lg) {
      margin-bottom: 24px;
    };

    h3 {
      font: 600 40px/1.2 $roboto-font;
      color: $white-color;

      @media (max-width: $screen-lg) {
        font-size: 32px;
      };
    }
  }

  .speakers-wrap {
    background: linear-gradient(120deg, rgba(217, 217, 217, 0.15) -12%, rgba(217, 217, 217, 0) 133%);
    filter: drop-shadow(6.19326px 7.43191px 69.3645px #0F0E10);
    border-radius: 30px;
    border: 4px solid #61D9EE;

    .items-wrap {
      padding: 48px 48px 16px;

      @media (max-width: $screen-xl) {
        padding: 36px 36px 16px;
      };

      @media (max-width: $screen-md) {
        padding: 24px 24px 0;
      };

      .items {
        display: flex;
        flex-wrap: wrap;

        .item {
          width: calc((100% - 300px) / 6);
          margin: 0 30px 30px;

          @media (max-width: $screen-xl) {
            width: calc((100% - 120px) / 4);
            margin: 0 20px 20px;
          };

          @media (max-width: $screen-md) {
            width: calc((100% - 20px) / 2);
            margin: 0 10px 20px;
          };

          &:nth-child(6n - 5) {
            margin-left: 0;

            @media (max-width: $screen-xl) {
              margin-left: 20px;
            };
          }

          &:nth-child(6n) {
            margin-right: 0;

            @media (max-width: $screen-xl) {
              margin-right: 20px;
            }
          }

          &:nth-child(4n - 3) {
            @media (max-width: $screen-xl) {
              margin-left: 0;
            };
          }

          &:nth-child(4n) {
            @media (max-width: $screen-xl) {
              margin-right: 0;
            };
          }

          &:nth-child(2n - 1) {
            @media (max-width: $screen-md) {
              margin-left: 0 !important;
            };
          }

          &:nth-child(2n) {
            @media (max-width: $screen-md) {
              margin-right: 0 !important;
            };
          }

          .img-wrap {
            margin-bottom: 18px;

            img {
              width: 100%;
            }
          }

          .text-wrap {
            text-align: center;

            .title {
              height: 64px;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 5px;
              margin-bottom: 16px;
              border: 1px solid #61D9EE;
              border-radius: 6px;

              @media (max-width: $screen-md) {
                margin-bottom: 12px;
              };
            }

            h5 {
              font: 500 15px/1.15 $baou-font;
              text-transform: uppercase;
              color: $white-color;

              @media (max-width: $screen-xl) {
                font-size: 13px;
              };

              @media (max-width: $screen-md) {
                line-height: 1.3;
              };
            }

            p {
              font: 400 12px/1.2 $figtree-font;
              color: $white-color;
              margin-bottom: 5px;
            }

            h4 {
              font: 700 17px/1.2 $figtree-font;
              background: linear-gradient(91.04deg, #61D9EE -4.86%, #5853CA 97.29%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              background-clip: text;
              text-fill-color: transparent;
            }
          }
        }
      }
    }

    .buttons-wrap {
      display: flex;
      width: 100%;
      justify-content: center;
      padding: 0 48px 48px;

      @media (max-width: $screen-xl) {
        padding: 0 36px 36px;
      };

      @media (max-width: $screen-md) {
        flex-direction: column;
        padding: 0 24px 24px;
      };

      .btn-main {
        margin: 0 6px;
        min-width: 230px;

        @media (max-width: $screen-md) {
          max-width: max-content;
          margin: 12px auto 0;
        };
      }
    }
  }
}
