// Extra small devices (<576px)
$screen-sm: 575.98px;

// Small devices (<=768px)
$screen-md: 767.98px;

// Medium devices (<=992px)
$screen-lg: 991.98px;

// Large devices (<1200px)
$screen-xl: 1199.98px;

// Extra large screen (<1400px)
$screen-xxl: 1399.98px;
